<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>798089945228-23b4jot7tuef9iqbucgu54otj027fau1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798089945228-23b4jot7tuef9iqbucgu54otj027fau1</string>
	<key>API_KEY</key>
	<string>AIzaSyD1NfCirG7o2Fnmg1tvHUMS1w5MtcBgANk</string>
	<key>GCM_SENDER_ID</key>
	<string>798089945228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.307.EventUp</string>
	<key>PROJECT_ID</key>
	<string>eventup-8c89b</string>
	<key>STORAGE_BUCKET</key>
	<string>eventup-8c89b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798089945228:ios:a655e75fe6c11b47</string>
	<key>DATABASE_URL</key>
	<string>https://eventup-8c89b.firebaseio.com</string>
</dict>
</plist>